<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="老眼でスマホの文字が見えない方にも配慮したtodoアプリケーションです。">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link href="./list.css" rel="stylesheet">
  <link href="dialog.css" rel="stylesheet">
  <title>Big Todo</title>
</head>

<body>

  <div id="app">

    <!-- todo編集画面 editingTodoでバインドしたボタンを押した後ダイアログにて編集画面を表示-->
    <div id="dialog">

      <dialog open v-show="boolean">
        <p>◆編集内容</p>
        <div class="center">
          <textarea v-model="editTodo" :placeholder="editTodoWord"></textarea>

          <p>◆期限</p>
          <div class="center">
            <input type="date" v-model="editDate">
          </div>
          <div class="dialogButton">
          <button @click="editCompleted">編集完了</button>
          <button @click="boolean=!boolean">キャンセル</button>
          </div>
      </dialog>
    </div>

    <!-- main画面 -->
    <div :class="{ display: boolean }">
      <h1 v-show="changeDisplay">{{ appName }}</h1>

      <!-- todo追加フォーム -->
      <form v-show="changeDisplay">
        <div class="formContent">

          <div class="form-group">
            <label class="control-label">
              <h3>追加するタスクの内容</h3>
            </label>
            <input class="form-control textboxRows" type="text" v-model="newTodo" placeholder="new todo">
          </div>

          <div class="form-group">
            <label class="control-label">
              <h3>期限を設定（設定は任意）</h3>
            </label>
            <input type="date" class="form-control textboxRows" v-model="newDate">
          </div>

          <button type="button" @click="addTodo" class="addTodo">追加する</button>
        </div>
      </form>
      <!-- 完了タスク一覧画面表示 -->
      <h3 v-show="!changeDisplay" class="infoCompleteList">完了タスク一覧</h3>

      <!-- タスク完了。未完了切り替え -->
      <div>
        <button v-if="changeDisplay" @click="changeDisplay = !changeDisplay"
          class="checkCompletedtodo">完了したタスクを確認する</button>
        <button v-else @click="changeDisplay = !changeDisplay" class="checkCompletedtodo">ホームに戻る</button>
      </div>

      <h5 v-show="!changeDisplay" class="info">※完了タスクについては完了後1日で削除されます</h5>

      <div>
        <!-- todo表示 -->
        <ul class="list-group">

          <li :class="{'favColor':todo.fav}" v-for="todo in selectTodos" :key="todo.id">

            <span class="todoText">{{ todo.text }}</span>
            <p v-show="changeDisplay" :class="['todoDeadline',{'todoDeadlineRED':todo.todoDeadline}]"><span>期限：</span>{{todo.date}}</p>

            <div :class="[changeDisplay? 'flixTodoButton':'deleteBotton']">
              <button v-if="changeDisplay" class="todoButton btn-green" @click="editingTodo(todo)">編集する</button>
              <button v-else class="todoButton btn-red" @click="confirmDeletion(todo)">タスクを削除</button>
              <!-- タスクの重要度変更 -->
              <button :class="['todoButton',{'favTodoButton':todo.fav}]" v-show="changeDisplay"
                @click="todo.fav=!todo.fav">{{todo.fav?"優先度を下げる":"優先度を上げる"}}</button>
              <!-- タスクの完了と未完了を切替 -->
              <button class="todoButton" v-if="changeDisplay" @click="completedTodo(todo)" style="white-space: nowrap;">タスク完了</button>
              <button :class="['todoButton',{'completedTodoButton':!changeDisplay}]" v-else @click="todo.done = !todo.done;">タスクを未完了に変更</button>
            </div>

          </li>

          </table>
      </div>
    </div>


    <!-- JavaScript -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="list.js" defer></script>
</body>

</html>