body {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #fff8ef;

}

h1 {
  background: #f4d07e;
  /*背景色*/
  padding: 0.5em;
  /*文字周りの余白*/
  color: white;
  /*文字を白に*/
  border-radius: 0.5em;
  /*角の丸み*/
  text-indent: 1rem;
}

form{
  background-color: rgb(255, 229, 194);
}

.formContent{
  margin-top: 30px;
  padding: 10px;
}

.formContent h3{
  margin-top: 10px;
}

h5 {
  margin: 30px 0px;
}




ul {
  padding: 0;
}

ul li {
  color: #404040;
  border-left: solid 20px #82AE46;
  /*左側の線*/
  border-bottom: solid 2px #dadada;
  /*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 10px;
  /*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none !important;
  /*ポチ消す*/
  font-weight: bold;
}

/* 重要度の高いタスクに色を付ける */
.favColor {
  border-left: solid 20px #d25e44;
  /*左側の線*/
}

button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  max-width: 600px;
  margin: 20px auto;
  padding: 0.5rem 0.5rem;
  border: 2px solid #ffefa6;
  background: #fff5c9;
  color: #101010;
  border-radius: 1vh;
  transition: 0.5s;
}


.checkCompletedtodo {
  width: 90%;
  margin: 20px 5%;
}

.flixTodoButton {
  display: flex;
  justify-content: space-between;
}

.todoButton {
  flex: 1;
  /* 各ボタンの幅を均等にする */
  margin: 0 5px;
  /* ボタン間のスペースを調整 */
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffa07a;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-green{
  background-color: #82AE46;
}

p {
  margin: 10px 0px;
}

.display {
  display: none;
}

/* todoの内容 */
.todoText {
  font-size: 30px;
  word-break: break-all;
  overflow-wrap: normal;
}

.todoDeadline {
  background-color: rgba(255, 147, 111, 0.5);
  width: 40%;
}