<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link href="./list.css" rel="stylesheet">
  <title>Big Todo</title>
</head>

<body>
  <div id="app">

    <!-- todo編集画面 editingTodoボタン（編集するボタン）を押した後ダイアログにて編集画面を表示-->
    <dialog open v-show="boolean">
      <p>編集内容</p>
      <input type="text" v-model="editTodo" :placeholder="editTodoWord">
      <p>期限を設定（設定は任意）</p>
      <input type="date" v-model="editDate">
      <br>
      <button @click="editCompleted">編集完了</button>
      <button @click="boolean=!boolean">キャンセル</button>
    </dialog>

    <!-- main画面 -->
    <div :class="{ display: boolean }">
      <h1>{{ appName }}</h1>
      <p>タスクを管理する</p>

      <!-- タスク完了。未完了切り替え -->
      <button v-if="changeDisplay" @click="changeDisplay = !changeDisplay">完了したタスクを確認する</button>
      <button v-else @click="changeDisplay = !changeDisplay">未完了のタスクを確認する</button>

      <!-- todo追加フォーム -->
      <div v-show="changeDisplay">
      <h3>追加するタスクの内容</h3>
      <input v-model="newTodo" placeholder="new todo">
      <input type="date" v-model="newDate">
      <button @click="addTodo">追加する</button>
      </div>

      <!-- todo表示 -->
      <table class="tableBored table table-striped" >
        <tr class="table-danger"><!-- CSSはここ -->
          <th>番号</th>
          <th width="25%">内容</th>
          <th v-show="changeDisplay">期限</th>
          <th v-show="changeDisplay">タスク編集</th>
          <th>タスク完了</th>
          <th v-show="changeDisplay">優先タスク</th>
        </tr>

        <tr v-for="todo in selectTodos" :key="todo.id">
          <td>{{ todo.id }}</td>
          <td>{{ todo.text }}</td>
          <td v-show="changeDisplay">{{todo.date}}</td>
          <td v-show="changeDisplay"><button @click="editingTodo(todo)">編集する</button></td>
          <!-- タスクを完了と未完了で切替 -->
          <td>
            <button v-if="changeDisplay" @click="completedTodo(todo)">タスク完了</button>
            <button v-else @click="completedTodo(todo)">タスクを未完了に変更する</button>
          </td>
          <!-- タスクの重要度変更 -->
          <td v-show="changeDisplay">
            <button @click="todo.fav=!todo.fav">{{todo.fav?"優先度を下げる":"優先度を上げる"}}
            </button>
          </td>
        </tr>

      </table>
    </div>
  </div>


  <!-- JavaScript -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="list.js" defer></script>
</body>

</html>